  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  th {
    text-align: left;
    font-weight: bold;
  }

  th,
  td {
    padding: .25rem 1rem;
    line-height: inherit;
  }

  th { vertical-align: bottom }
  td { vertical-align: top }

  .table-light td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.1);
  }

  .table-light th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.2);
  }

  .table-light tr:last-child td {
    border-bottom: 0;
  }
