- page_title "Submission Complete"

%h2 Thank you for contributing to the dataset!

.h1.bold.line-wide
  Please submit your temperature again tomorrow at
  = DateTime.now.strftime("%I:00 %p") + '.'

%br
%hr
%br

%h3.bold For the latest information from the CDC about COVID-19, visit:


%h4.mb1 Center for Disease Control
= link_to "https://www.cdc.gov/coronavirus/2019-ncov/index.html", "https://www.cdc.gov/coronavirus/2019-ncov/index.html"

%h4.mb1 World Health Organization
= link_to "https://www.who.int/emergencies/diseases/novel-coronavirus-2019", "https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
