- page_title "Frequently Asked Questions"
%br
.md-mt3.px2

  .line-wide

    %h4.serif.m0= link_to "TakeYourTemp.org", root_path
    %h1.h2.bold.mt1 Frequently Asked Questions
    
    %h3.mt4 Who are you?

    %p We are just like you, a few people working from home and grappling with the fallout from a worldwide pandemic. One day, we heard on the Rachel Maddow Show that a smart thermometer company could leverage aggregated data of temperature readings across the US to predict the spread of COVID-19. The main issue with the data is that the smart thermometers were sold out, and couldn’t be produced fast enough. We had the idea: Why don’t we bypass the smart thermometers and crowdsource the data? The larger the dataset, the more accurate the data, so why don’t we ask everyone to do this, voluntarily? Days later, we created this site and formed the Daily Temperature Pledge Corporation, a Delaware not-for-profit corporation. 


    %h3.mt4 I don’t get it, how does me taking my temperature help anyone? 

    %p By large groups of people providing daily data on their temperature, we can act as an early warning system for where COVID-19 is spreading. Epidemiologists and health officials can analyze the data to identify hotpots and send resources to needy areas quicker than if they relied on the C.D.C.’s system, which relies on weekly reports from hundreds of doctors’ offices and hospital emergency rooms. By the time a patient is feeling sick enough to go to the hospital, precious time has already been lost. 

    %h3.mt4 Is this anonymous?
    %p Yes, we will never ask for your name, social security number, or any other sensitive or identifying information. The data you provide us can never be traced back to you as an individual.

    %h3.mt4 Why do you ask for my age, sex, and zip code?
    %p We ask for your age, sex and zip code because these are important pieces of information for understanding the temperature and symptom data we collect. The zip code data allows us to match with other geographic data and to see which places may be experiencing more cases.

    %h3.mt4 Why do you ask if I am experiencing other symptoms?
    %p While a fever seems to be one of the key symptoms of COVID-19, some people experience other symptoms prior to getting a fever or may not experience a fever at all. By collecting data on other symptoms, we may find that other symptoms precede getting a fever, which can serve as another marker of an increase in COVID-19.

    %h3.mt4 Why don’t you make a heat map of COVID-19?
    %p We intend to share the data with public health officials and researchers to help them with their predictions of outbreaks and to complement pre-existing data. We may eventually provide a map of where we are receiving data from; but at this time, we won’t be predicting COVID-19 prevalence.

    %h3.mt4 Why do I have to report my temperature every day? Can I do it once a week?
    %p You don’t have to report everyday, but the value of the data is that it updates in real-time, so the more often you update the better. Most importantly, this won’t work if people just update once and never come back. You can update more than once a day but eventually there is diminishing returns. 

    %h3.mt4 What is the best way to take my temperature?
    %p You are welcome to take your temperature however your thermometer works (i.e. oral, under arm, forehead, rectal, etc.). This is very important: IF YOU ARE SHARING A THERMOMETER, MAKE SURE TO SANITIZE IT AFTER EACH USE. We absolutely do not want you to accidentally spread to family members. Please be cautious. Use a clean thermometer, one that has been washed in cold water, cleaned with rubbing alcohol, and then rinsed to remove the alcohol. When possible, use one thermometer per person. Here are some tips for accurate readings:

    %ol
      %li If taking an oral reading, make sure not to eat or drink anything for at least five minutes beforehand. 
      %li Do not use the same thermometer for both rectal and oral readings. 
      %li Follow the instructions on your thermometer. 

    %h3.mt4 Where does the data go?

    %p Into a database that is only shared with groups that can use it to track the spread of COVID-19.

    %h3.mt4 Do you sell the data?
    %P No.

    %h3.mt4 How do you make money if you don’t sell data?
    %p We don’t make any money from this, our sole purpose is to collect data to help track the spread of COVID-19 in real time. 

    %h3.mt4 How can I help? 
    %p Please <a href="/contactings/new">contact us</a> and let us know how can you help. 

    %h3.mt4 Do you have a privacy policy?
    %p
      We do. Our Privacy Policy was last updated March 20, 2020 and can find it at
      = link_to(privacy_url, privacy_url) + '. '
      We also have a Terms of Use, last updated March 22, 2020, which you can visit at
      = link_to(terms_url, terms_url) + '. '

  %br
  %br
  %br
