- page_title "Our Initiative"
%br
.md-mt3.px2

  = image_tag '/pledge.jpg', class: 'col-6 right ml3 mb3 border p2'


  .line-wide

    %h4.serif.m0= link_to "TakeYourTemp.org", root_path
    %h1.h2.bold.mt1.m0 Our Initiative
    %h5.mt1 Mar 24, 2020

    %hr/
    %br/


    %h3.mt2.mb0.serif{style: "color: cadetblue"} Daily Temperature Pledge Corporation 
    .mt1
      %em A Delaware not-for-profit corporation
    .mt1= link_to "hello@takeyourtemp.org", "mailto:hello@takeyourtemp.org"

    %br/
    %h3.bold Who We Are

    %p We are a group of concerned citizens working from home and grappling with the fallout from a worldwide pandemic. One day, we heard on the Rachel Maddow Show that a smart thermometer company had leveraged aggregated data of temperature readings across the US to predict the spread of COVID-19. The main issue with their data is that the smart thermometers were sold out and couldn’t be produced fast enough. This led to the idea behind this website: Why not bypass the smart thermometers and crowdsource the data? The larger the dataset, the more useful the data, so why don’t we ask everyone to voluntarily provide temperature and other symptom data? Several days later  www.takeyourtemp.org/ was developed and Daily Temperature Pledge Corporation, a Delaware not for profit corporation was formed.
     
    %h3.bold How Tracking Temperature Can Save Lives

    %p If large groups of people self-report their temperature, symptoms and zip code daily, we can collect a valuable dataset to serve as an early warning system for the potential areas at risk for spread of COVID-19. Epidemiologists and health officials can analyze the data we collect to identify hotpots and send resources to needy areas more quickly than if they relied solely on the CDC’s system, which uses weekly reports from hundreds of doctors’ offices and hospital emergency rooms. By the time a patient is feeling sick enough to go to the hospital, precious time has already been lost. For more information on the science behind this strategy, check out Kinsa's research: <a href="https://www.kinsahealth.co/research/>https://www.kinsahealth.co/research/</a>

    %h3.bold Where the Data Goes
    %p The data is recorded in a spreadsheet that is only shared with groups that can use it to track the potential spread of COVID-19. We will make the data available to public health officials and researchers. Again, the data will not be individually identifiable. We ask for your age, sex and zip code because these are important pieces of information for understanding the temperature and symptom data we collect. The zip code data allows us to match with other geographic data, validate against other data sources, and to see which places may be experiencing more cases.

    %h3.bold Our Proposed Initiative
    %p Our plan is simple. We are asking people to: 
    %ol
      %Li Take their temperature every day
      %Li Report their daily temperature, symptoms, age, gender, and zip code on <a href="https://www.takeyourtemp.org">www.takeyourtemp.org</a>.
      %Li Help spread the word through social media by using our hashtag (#TakeYourTemp) and share this link <a href="https://bit.ly/TakeYourTemp">https://bit.ly/TakeYourTemp</a>

    %p You have the power to stop this virus by soliciting maximum participation from the public. If we work together, we can protect ourselves and each other. The more data we can collect and analyse, the better prepared our health officials will be to maximize every resource. This is an apolitical initiative that gives each American an opportunity to unite and fight our generation’s war against COVID-19. Please take the pledge to #TakeYourTemp. 

    %p It’s a modest proposal, but we need your help. 


    %br/
    %br/
    %hr/


    %h2.bold The Team

    .py1
      %h4.bold.mb1 Mateo Fisher 
      %em Co-founder, President, and Secretary
      %p.mt1 Associate Attorney at Horzepa Spiegel & Associates PC

    .py1
      %h4.bold.mb1 Carson Baker 
      %em Co-founder and Chief Technology Officer
      %p.mt1 Developer + Designer

    .py1
      %h4.bold.mb1 Sara Lowes
      %em Co-founder and Treasurer
      %p.mt1 Postdoctoral Fellow at the at the Stanford King Center on Global Development

    .py1
      %h4.bold.mb1 Olivia Fisher
      %em Co-founder and Chief Marketing Officer
      %p.mt1 Practice Development Manager at Holland & Knight LLP

    .py1
      %h4.bold.mb1 Silvana Carpanelli-Hayes
      %em Co-founder and Chief Communications Officer
      %p.mt1 Founder and CEO at WAAVE Technologies Inc.

    .py1
      %h4.bold.mb1 Matt Lowes
      %em Co-founder and Chief Data Officer
      %p.mt1 Data Strategy Manager at Indigo

    .py1
      %h4.bold.mb1 Pamela Parker
      %em Press Officer and Media Strategist
      %p.mt1 Series Producer at BBC News

    %br
    %br
    %br
