- page_title "Terms of Use"
%br
.line-wide

  %h4.muted.m0
    = link_to "TakeYourTemp.org", root_path
  %h2.mt2.mb0.serif TERMS OF USE

  %br
  .alert.alert-info
    %p.m0 These terms were last updated: March 22, 2020 

  %hr
  %br
  
  %h4.bold Introduction

  %p Please read these terms of use ("Agreement" or "terms of use") carefully before using the services offered by Daily Temperature Pledge Corporation ("Daily Temperature Pledge"). This Agreement sets forth the legally binding terms and conditions for your use of the website at https://www.takeyourtemp.org (the "site") and the service owned and operated by Daily Temperature Pledge (collectively with the site, the "service"). By using the site or service in any manner, including but not limited to visiting or browsing the site, you agree to be bound by this Agreement. This Agreement applies to all users of the site or service.

  %h4.bold Content & Ownership

  %p Daily Temperature Pledge does not claim any right of ownership in any information posted on the website by you. After posting your content you will continue to retain all your intellectual property ownership rights and continue to have the right to use your work in any way you choose.

  %p However, by posting content on Daily Temperature Pledge you hereby grant to Daily Temperature Pledge a license to use, modify, publicly display, reproduce, aggregate, and distribute anonymously your content for research purposes.  The license you grant Daily Temperature Pledge is non-exclusive, sub-licensable, fully paid up and royalty free. 

  %p You are solely responsible for the content posted by you and all other material you transmit to the site You represent and warrant that:

  %ol
    %li you own the content posted by you or have the right to post the content on the site
    %li the content does not infringe the privacy rights, publicity rights, intellectual property rights or any other rights of any person
    %li the content does not breach any right of confidence
    %li the content is not libelous or obscene
    %li the content is not in breach of the Official Secrets Act or any other similar legalization or otherwise unlawful
    %li that if followed any recipes or instructions included in the content will not cause any harm to any person

  %h4.bold Access

  %p Daily Temperature Pledge work hard to ensure that Daily Temperature Pledge is available as often as possible. However, due to the nature of the internet, this cannot be guaranteed and accordingly Daily Temperature Pledge is provided on an "as is" basis. Access to the site may be restricted from time to time to allow for repairs, maintenance, and updates. Daily Temperature Pledge reserve the right to take down the site at any time.

  %h4.bold Indemnity

  %p You agree to indemnify Daily Temperature Pledge and our affiliates against any loss or damage or expense Daily Temperature Pledge or our affiliates suffer or incur as a result of you breaching the Agreement. 

  %h4.bold Our Right to Remove Content

  %p At any time Daily Temperature Pledge may delete content that is flagrantly offensive, infringes the rights of any third party, threatens the safety of another person, or is otherwise unlawful. Daily Temperature Pledge will not be required to give you any reason for removing any material.

  %h4.bold Exclusion of Liability

  %p Daily Temperature Pledge assume no responsibility for monitoring the site for amongst other things inappropriate or unlawful content, including but not limited to defamatory content. Daily Temperature Pledge do not endorse or assume any liability for or any damage you may suffer as a result of any such content, nor do Daily Temperature Pledge make any representation or give any warranty express or implied as to the accuracy or lawfulness of the content herein.

  %p UNDER NO CIRCUMSTANCES WILL DAILY TEMPERATURE PLEDGE OR ITS AUTHORIZED REPRESENTATIVES BE LIABLE FOR ANY CONSEQUENTIAL, INDIRECT, SPECIAL, PUNITIVE, EXEMPLARY OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE, BASED ON CLAIMS BY CUSTOMER OR ANY THIRD PARTY (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR LOSS OF DATA, GOODWILL, PROFITS, USE OF MONEY OR USE OF THE PRODUCTS, INTERRUPTION IN USE OR AVAILABILITY OF DATA, STOPPAGE OF OTHER WORK OR IMPAIRMENT OF OTHER ASSETS), ARISING OUT OF BREACH OF EXPRESS OR IMPLIED WARRANTY, BREACH OF CONTRACT, BREACH OF ANY INTELLECTUAL PROPERTY RIGHT, MISREPRESENTATION, NEGLIGENCE, STRICT LIABILITY IN TORT OR OTHERWISE.  IN NO EVENT WILL THE AGGREGATE LIABILITY INCURRED IN ANY ACTION OR PROCEEDING BY DAILY TEMPERATURE PLEDGE OR ITS AUTHORIZED REPRESENTATIVE EXCEED ONE HUNDRED DOLLARS.

%br
%br
