- page_title "Reminder Created"

%br
.md-mt3.px2

  .line-wide

    %h4.muted.serif.m0= link_to "TakeYourTemp.org", root_path
    %h1.h2.bold.mt1 Reminders
    
    %br
    %br
    %p A reminder has been created for you.
